.sort {
  a {
    display: flex;
    align-items: flex-end;
  }
  span {
    visibility: hidden;
  }
}
.asc span {
  visibility: visible;
  display: inline-block;
  transform: rotate(180deg);
}
.desc span {
  visibility: visible;
}
