.fixedBg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  position: relative;
  z-index: 1;

  h1 {
    color: white;
    text-align: center;
  }
}

.scrollingBg {
  position: relative;
  min-height: 40vh; // TODO: Could be removed ?
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media only screen and (min-width: 48em) {
  .fixedBg {
    background-attachment: fixed;
    min-height: 75vh;
  }
}

// because the homepage doesn't change much (hopefully) I decided to hardcode the images for easier image optimization
.jsbvvIRmWu6vy5n1FPbk {
  background-image: url("https://ik.imagekit.io/taradance/tr:w-768/home/optreden.png");
}
.jxGUCIpe0SP9H3u6tGQd {
  background-image: url("https://ik.imagekit.io/taradance/tr:w-768/home/les.jpg");
}
.swmx0iVHBucTFtUVgt1o {
  background-image: url("https://ik.imagekit.io/taradance/tr:w-768/home/show.webp");
}
.wgBmeDMrZbGJCUhFs8Ad {
  background-image: url("https://ik.imagekit.io/taradance/tr:w-768/home/competities.jpg");
}

@media only screen and (min-width: 48em) {
  // 768px
  .jsbvvIRmWu6vy5n1FPbk {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1088/home/optreden.png");
  }
  .jxGUCIpe0SP9H3u6tGQd {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1088/home/les.jpg");
  }
  .swmx0iVHBucTFtUVgt1o {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1088/home/show.webp");
  }
  .wgBmeDMrZbGJCUhFs8Ad {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1088/home/competities.jpg");
  }
}
@media only screen and (min-width: 68em) {
  // 1088px
  .jsbvvIRmWu6vy5n1FPbk {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1280/home/optreden.png");
  }
  .jxGUCIpe0SP9H3u6tGQd {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1280/home/les.jpg");
  }
  .swmx0iVHBucTFtUVgt1o {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1280/home/show.webp");
  }
  .wgBmeDMrZbGJCUhFs8Ad {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-1280/home/competities.jpg");
  }
}
@media only screen and (min-width: 80em) {
  // 1280px
  .jsbvvIRmWu6vy5n1FPbk {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-2240/home/optreden.png");
  }
  .jxGUCIpe0SP9H3u6tGQd {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-2240/home/les.jpg");
  }
  .swmx0iVHBucTFtUVgt1o {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-2240/home/show.webp");
  }
  .wgBmeDMrZbGJCUhFs8Ad {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-2280/home/competities.jpg");
  }
}
@media only screen and (min-width: 140em) {
  // 2240px
  .jsbvvIRmWu6vy5n1FPbk {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-3440/home/optreden.png");
  }
  .jxGUCIpe0SP9H3u6tGQd {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-3440/home/les.jpg");
  }
  .swmx0iVHBucTFtUVgt1o {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-3440/home/show.webp");
  }
  .wgBmeDMrZbGJCUhFs8Ad {
    background-image: url("https://ik.imagekit.io/taradance/tr:w-3340/home/competities.jpg");
  }
}
