@use "@picocss/pico/scss/pico" with (
  $theme-color: "jade"
);

$background-color: #fff;
$taradance-color: #007a50;
$secondary-color: #ef402b;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

:root {
  --pico-font-family: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;
}

aside#mobileMenu {
  box-shadow: $shadow;
  overflow: hidden;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  transform: translateX(100%);
  transition: transform 500ms ease;
  width: 75%;
  z-index: 1000;

  .close {
    cursor: pointer;
    padding: 1em;
    text-align: right;
  }
}

button {
  text-wrap: nowrap;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

main {
  overflow-x: hidden;
}

nav[aria-label="breadcrumb"] li {
  max-width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.backgroundColor {
  background-color: $background-color;
  background-repeat: repeat;
}

.hamburger {
  cursor: pointer !important;
}

#aside:checked ~ aside#mobileMenu {
  transform: translateX(0);
}

#aside:checked ~ .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu {
  box-shadow: $shadow;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  small {
    // this line creates a deprication warning for scss
    color: light-dark(#373c44, #c2c7d0);
  }

  a:first-child {
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 1px;
    position: relative;
    text-decoration: none;

    &:not(:has(button)):not(:has(img)) {
      &:before,
      &:after {
        position: absolute;
        transition: all 0.35s ease;
      }

      &:before {
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 2px;
        width: 0%;
        background-color: $taradance-color;
      }

      &:after {
        top: 0;
        left: 0;
        padding: 0.5em 0;
        content: attr(data-hover);
        white-space: nowrap;
        max-width: 0%;
        overflow: hidden;
      }

      &:hover:before,
      &.current:before,
      &:hover:after,
      &.current:after {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .row div {
    cursor: pointer;
    display: block;
    padding-bottom: 1em;

    &:hover a {
      &:before,
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .active {
    &:before,
    &:after {
      opacity: 1;
      width: 100%;
    }
  }

  .dropdown {
    border-top: 1px solid $taradance-color;
    box-shadow: $shadow;
    display: flex;
    overflow: hidden;
    padding: 1em;
    position: absolute;
    top: 6em;
    right: 0px;
    left: 0px;

    a {
      margin-bottom: 0.3em;
    }

    &.show {
      max-height: 600px;
      opacity: 1;
      transition:
        max-height 0.75s ease-in,
        opacity 0.5s ease-in;
    }

    &.hide {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.75s ease-out,
        opacity 0.5s ease-in 0.25s,
        top 0.5s ease-out 1s;
      top: -600px;
    }
  }
}

.flex {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}
.flex-right {
  justify-content: flex-end;
}

.nav-container {
  display: none;
  @media screen and (min-width: 48em) {
    display: block;
  }
}

.mobileNavigationDrawer {
  border-top: 1px solid $taradance-color;

  .tab {
    border-bottom: 1px solid $taradance-color;

    a {
      display: inline-block;
      font-weight: 500;
      margin: 0em 1em;
      text-decoration: none;
      width: 100%;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:checked ~ .tab__content {
        grid-template-rows: 1fr;
      }

      &:checked ~ .tab__label span {
        transform: rotate(90deg);
      }
    }

    .tab__content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-out;

      ul {
        overflow: hidden;
        li {
          border-top: 1px solid $taradance-color;
        }
      }
    }

    .tab__label {
      display: flex;
      padding-top: 1em;
      padding-bottom: 1em;

      a {
        display: inline-block;
        font-weight: 800;
      }

      span {
        color: $taradance-color;
        font-weight: 800;
        margin-right: 1em;
        transition: all 0.35s;
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $background-color 450ms ease 50ms;
  width: 100%;
  z-index: -1;

  @media screen and (min-width: 48em) {
    display: none !important;
  }
}

.textColor {
  color: $taradance-color;
}

// helpers
.center {
  text-align: center;
}
.breadcrumb {
  background-color: $background-color;
  padding: 2em;
}
.dateBox {
  background-color: $taradance-color;
  color: white;
  padding: 0.5em 1.5em;
  position: absolute;
  bottom: 2em;
  left: -1.5em;
  &.update {
    background-color: $secondary-color;
  }
  @media screen and (max-width: 48em) {
    top: auto;
    left: 0em;
    bottom: 0em;
  }
}
.float-right {
  float: right;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.g1 {
  gap: 1em;
}
.image100 {
  img {
    width: 100%;
  }
}
small.error {
  color: red;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.show {
    opacity: 1;
  }
}
input.error {
  border: 1px solid red;
  transition: border 0.5s ease;
}
.m1 {
  margin: 1em;
}
.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}
.mt7 {
  margin-top: 7em;
}
.p1 {
  padding: 1em;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
[data-theme="light"] {
  .bg {
    background-color: white;
  }
  .taraLogo {
    filter: brightness(0) saturate(100%) invert(32%) sepia(30%) saturate(2964%)
      hue-rotate(131deg) brightness(91%) contrast(101%);
  }
  .icon-themed {
    filter: brightness(0);
  }
}
[data-theme="dark"] {
  .bg {
    background-color: #13161e;
  }
  .icon-themed {
    filter: brightness(0) invert(1);
  }
}
.bg-black {
  background-color: black;
}
.td-color {
  color: $taradance-color;
}
a {
  h4 {
    display: inline-block;
  }
  .link-indicator {
    color: $taradance-color;
    transition: padding-left 0.5s ease;
  }
  :hover {
    .link-indicator {
      padding-left: 0.25em;
    }
  }
}
.w-full {
  width: 100%;
}
