@use "@picocss/pico/scss/pico" with (
  $theme-color: "jade"
);

$background-color: #f7f4ee;
$taradance-color: #01a162;

:root {
  --pico-font-family: inherit;
}

a {
  cursor: pointer;
}

aside {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $background-color;
  overflow: hidden;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  transform: translateX(100%);
  transition: transform 500ms ease;
  width: 75%;
  z-index: 1000;

  .close {
    cursor: pointer;
    padding: 1em;
    text-align: right;
  }
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.backgroundColor {
  background-color: $background-color;
}

.hamburger {
  cursor: pointer !important;
}

#aside:checked ~ aside {
  transform: translateX(0);
}

#aside:checked ~ .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu {
  background-color: $background-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  a {
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 1px;
    position: relative;
    text-decoration: none;

    &:not(:has(button)):not(:has(img)) {
      &:before,
      &:after {
        position: absolute;
        transition: all 0.35s ease;
      }

      &:before {
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 2px;
        width: 0%;
        background-color: $taradance-color;
      }

      &:after {
        top: 0;
        left: 0;
        padding: 0.5em 0;
        content: attr(data-hover);
        white-space: nowrap;
        max-width: 0%;
        overflow: hidden;
      }

      &:hover:before,
      &.current:before,
      &:hover:after,
      &.current:after {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .row div {
    cursor: pointer;
    display: block;
    padding-bottom: 1em;

    &:hover a {
      &:before,
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }

  .active {
    &:before,
    &:after {
      opacity: 1;
      width: 100%;
    }
  }

  .dropdown {
    background-color: $background-color;
    border-top: 1px solid $taradance-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    padding: 1em;
    position: absolute;
    top: 5em;
    right: 0px;
    left: 0px;

    a {
      margin-bottom: 0.3em;
    }

    &.show {
      max-height: 600px;
      opacity: 1;
      transition: max-height 0.75s ease-in, opacity 0.5s ease-in;
    }

    &.hide {
      max-height: 0;
      opacity: 0;
      transition: max-height 0.75s ease-out, opacity 0.5s ease-in 0.25s;
    }
  }
}

.flex {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}
.flex-right {
  justify-content: flex-end;
}

.nav-container {
  display: none;
  @media screen and (min-width: 48em) {
    display: block;
  }
}

.mobileNavigationDrawer {
  border-top: 1px solid $taradance-color;

  .tab {
    border-bottom: 1px solid $taradance-color;

    a {
      display: inline-block;
      font-weight: 500;
      margin: 0em 1em;
      text-decoration: none;
      width: 100%;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:checked ~ .tab__content {
        grid-template-rows: 1fr;
      }

      &:checked ~ .tab__label span {
        transform: rotate(90deg);
      }
    }

    .tab__content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-out;

      ul {
        overflow: hidden;
        li {
          border-top: 1px solid $taradance-color;
        }
      }
    }

    .tab__label {
      display: flex;
      padding-top: 1em;
      padding-bottom: 1em;

      a {
        display: inline-block;
        font-weight: 800;
      }

      span {
        color: $taradance-color;
        font-weight: 800;
        margin-right: 1em;
        transition: all 0.35s;
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $background-color 450ms ease 50ms;
  width: 100%;
  z-index: -1;
}

// helpers
.center {
  text-align: center;
}
.float-right {
  float: right;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.g1 {
  gap: 1em;
}
small.error {
  color: red;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.show {
    opacity: 1;
  }
}
input.error {
  border: 1px solid red;
  transition: border 0.5s ease;
}
.m1 {
  margin: 1em;
}
.mt1 {
  margin-top: 1em;
}
.p1 {
  padding: 1em;
}
.pointer {
  cursor: pointer;
}
